*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}


body{

background:#07111f;
color:white;
padding-bottom:80px;

}



/* HEADER */

.top{

background:#101c33;
padding:18px;
display:flex;
justify-content:space-between;
align-items:center;
position:sticky;
top:0;
z-index:10;

}



.logo{

font-size:24px;
font-weight:bold;
color:#00ff88;

}



.profile{

background:#2563eb;
color:white;
border:none;
padding:10px;
border-radius:50%;
font-size:18px;

}




/* SEARCH */

.search{

margin:15px;
background:#14233d;
padding:12px;
border-radius:15px;

}



.search input{

width:100%;
background:none;
border:none;
outline:none;
color:white;
font-size:16px;

}




/* MENU */

.menu{

display:flex;
justify-content:space-around;
background:#101c33;
padding:12px;

}



.menu a{

color:white;
text-decoration:none;
text-align:center;
font-size:13px;

}



/* HERO */

.hero{

margin:15px;
padding:30px;
border-radius:20px;
text-align:center;
background:linear-gradient(135deg,#2563eb,#00a86b);

}


.hero h1{

font-size:32px;

}



.hero button{

margin-top:15px;
padding:12px 25px;
border:none;
border-radius:25px;
font-weight:bold;

}





/* CARD */

.card{

background:#101c33;
margin:15px;
padding:20px;
border-radius:20px;

}



.card h2{

color:#00ff88;
margin-bottom:15px;

}




/* LIVE */

.live{

border-left:5px solid red;

}



.teams{

display:flex;
justify-content:space-around;
align-items:center;
text-align:center;

}



.teams strong{

font-size:28px;
color:#00ff88;

}




/* ITEMS */

.match-item,
.news,
.player,
.rank,
.prediction{

background:#16243d;
margin:10px 0;
padding:15px;
border-radius:12px;

}




.prediction{

display:flex;
justify-content:space-between;

}




/* BUTTON */

.button{

background:#00ff88;
color:#07111f;
padding:12px;
border-radius:20px;
text-align:center;
margin-top:15px;
font-weight:bold;
cursor:pointer;

}



/* FOOTER */

footer{

text-align:center;
padding:20px;
color:#aaa;

}





@media(max-width:600px){


.menu{

position:fixed;
bottom:0;
left:0;
right:0;
z-index:20;

}


.logo{

font-size:20px;

}


}
